.floor:hover { 
    cursor: pointer; 
}

.agent-actions { 
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: collapse; 
}

.agent-actions th { 
    padding: 0.5ex; 
    border: 1px solid hsl(240,10%,90%); 
    background: hsl(240,10%,85%);
    text-align: center; 
}

.agent-actions td { 
    padding: 0.25ex; 
    border: 1px solid hsl(240,20%,80%); 
    text-align: center; 
}

.robot { 
    transition: transform 2.0s; 
}

.floor { 
    fill: white; 
}

.floor.clean { 
    fill: hsl(240,10%,90%); 
    transition: fill 1.0s; 
}

.floor.dirty { 
    fill: hsl(22, 71%, 29%); 
    transition: fill 0.1s; 
}

.floor.wet { 
    fill: hsl(202, 80%, 40%); 
    transition: fill 0.1s; 
}
